/* Медиа запросы */
@media (max-width: 500px) {
    .info {
        display: block;
        text-align: center;
    }

    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .btn {
        display: block;
        margin: auto;
    }
}