@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: #f1f1f1;
}


.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}


.btn {
    background: rgb(62, 5, 102);
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
    border: none;
    transition: all .2s;
    cursor: pointer;
}
.btn:hover {
    opacity: .8;
}


a {
    text-decoration: none;
    color: grey;
    transition: all .2s;
}
a:hover {
    color: #000;
    text-decoration: underline;
}
/* a:visited {
    color: blue;
} */
a:active {
    color: red;
}


.info {
    display: flex;
}
.info-me {
    margin-left: 40px;
}
.avatar {
    width: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.info-me {
    margin-bottom: 20px;
}
.info-me p {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    color: #7d7c7c
}
.p-margin {
    margin-bottom: 60px;
}
.info-me h4 {
    margin-bottom: 10px;
}

.list li {
    margin-bottom: 10px;
}
.table {
    width: 100%;
}
.table th {
    text-align: left;
    padding-bottom: 7px;
}
.table td {
    padding-bottom: 10px;
}
.table td:nth-child(2), .table td:nth-child(3) {
    color: #86898f;
}


.change-color {
    color: rgb(62, 5, 102);
}


.card {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
}
.card h2 {
    margin-bottom: 10px;
}
.card ol {
    padding: 10px 20px;
}


.bg-hobby {
    background: #baf2df;
}
.bg-experience {
    background: #dae1f5;
}


/* Связаться со мной */
.form h2{
    text-align: center;
    margin-bottom: 15px;
}
.form-row {
    display: flex;
    margin-bottom: 10px;
}
.form-row .form-group {
    margin-right: 20px;
    width: 50%;
    /* display: inline-block; */
    /* width: 48%; */
}
.form-row .form-group:last-child {
    margin-right: 0;
}
.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}
.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}


